.comp-whitespace{
  &-xs {
    height: 3PX;
    width: 100%;
  }
  &-sm {
    height: 6PX;
    width: 100%;
  }
  &-md {
    height: 9PX;
    width: 100%;
  }
  &-lg {
    height: 15PX;
    width: 100%;
  }
  &-xl {
    height: 21PX;
    width: 100%;
  }
}