.comp-wing-blank {
  &-xs {
    padding-left:6PX;
    padding-right:6PX;
  }
  &-sm {
    padding-left:9PX;
    padding-right:9PX;
  }
  &-md {
    padding-left:12PX;
    padding-right:12PX;
  }
  &-lg {
    padding-left:18PX;
    padding-right:18PX;
  }
  &-xl {
    padding-left:24PX;
    padding-right:24PX;
  }
}